@media screen and (min-width: 360px) and (max-width: 667px) {
 

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 20px;
        margin-top: 18px;
    }

    p {
        font-size: 16px;
    }

    .globalnav__logo {
        margin-left: -16px
    }

    .globalnav__icon {
        margin-right: 16px;
    }

    .globalnav__text {
        display: none;
    }
    .localnav {
        display: none;
    }

    .header {
        background-image: url(../images/header-background-m.png);
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
    }  

    .header__logo {
        display: block;
        width: 75%;
        padding-top: 16px;
        margin-left: auto;
        margin-right: auto;
        animation: .3s popIn ease-out;
    }  

    .header__intro {
        font-size: 32px;
        font-weight: 900;
        color: #232323;
        margin-top: 8px;
        margin-bottom: 16px;
        animation: .3s popIn ease-out;
    }

    .header__trailer {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        margin-bottom: 40px;
      }

    .header__trailer iframe {
        position: absolute;
        top:0; 
        left:0;
        width: 100%;
        height: 100%;
      }

    .btn {
        width: 160px;
        height: 40px;
        padding: 10px 13px;
        font-size: 16px;
    }  

    .header h3 {
        font-size: 18px;
        padding: 0 16px 64px 16px;
    }

    .overview {
        background-image: url(../images/overview-background-m.png);
        padding-bottom: 96px;
    }

    .overview__title {
        padding-top: 64px;
        margin-bottom: 24px;
    }

    .overview__text {
        padding: 0 16px;
        margin-bottom: 32px;
    }

    .offer {
        background-image: url(../images/buynow-background-m.png);
        padding-bottom: 64px;
    }

    .offer__title {
        padding: 64px 16px 0 16px;
        margin-bottom: 24px;
    }

    .offer__text {
        padding: 0 16px;
    }

    .offer__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .offer__list-item {
        width: 160px;
        margin: 0 4px 32px 4px;
    }

    .offer__list-item-name {
        font-size: 12px;
    }

    .offer__list-item-thumb {
        width: 160px;
    }

    .btn-buy {
        width: 160px;
        height: 40px;
        padding: 10px 30px;
        color: #232323;
        font-size: 16px;
    }

    .social {
        background-image: url(../images/stayconnected-background-m.png);
        padding-bottom: 120px;
    }

    .social__title {
        font-size: 32px;
        padding-top: 64px;
        margin-bottom: 40px;
    }

    .social__channels {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 204px;
    }

    .channel {
        margin: 0 4px 8px 4px;
    }
}